textarea {
    width: 100%;
    font-family: monospace;
}

.options {
    list-style-type: upper-alpha;
}

.answer-option {
    font-weight: bold;
}

#examples {
    width: 200px;
}

.title {
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
}
